.wrapper
{
    max-height: 550px;
    display: flex;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar
{
    width: 0;
}

.wrapper .item
{
    min-width: 350px;
    height: 500px;
    line-height: 110px;
    text-align: center;
    background-color: #fff;
    margin-right: 30px;
}

.wrapper .item .imgType
{
    height: 450px;
    width: 350px;
}

.textGroup
{
    width: 350px;
    height: 50px;
    margin-bottom: -30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.treeName
{
    height: 1px;
    float: left;
    margin-left: 10px;
    margin-top: -30px;
}

.treePrice
{
    height: 1px;
    float: right;
    text-align: right;
    margin-right: 10px;
    margin-top: -30px;
}

.item:hover .textGroup
{
    color: #0097b2;
}

.imageContainer
{
    position: relative;
    width: 350px;
}

.floatingButton
{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    display: none;
}

.item:hover .floatingButton
{
    display: block;
}